:root{
  --default-clr: rgba(0, 0, 0, 0.164);
  --o-winning-clr: rgba(139, 5, 72, 0.15);
  --x-winning-clr: rgba(7, 5, 139, 0.135);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(32, 32, 32);
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  margin-top: 150px;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 2rem;
}
#status{
  font-size: 1.2rem;
}
#gameBoard{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
  width: 360px;
  margin: auto;
  cursor: pointer;
}
.cell{
  width: 120px;
  height: 120px;
  background-color: var(--default-clr);
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell:hover{
  background-color: rgba(0, 0, 0, 0.08);
}
.winning-x{
  background-color: var(--x-winning-clr);
}
.winning-o{
  background-color: var(--o-winning-clr);
}
#reset-btn{
  align-self: flex-end;
  padding: 4px 8px;
  background-color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 6px black;
  color: black;
  font-size: 1rem;
  margin-top: 40px;
}
#reset-btn:hover{
background-color: rgba(255, 255, 255, 0.884);
}
