:root{
  --winning-clr: rgba(5, 101, 139, 0.144);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(32, 32, 32);
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  margin-top: 150px;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 2rem;
}
#gameBoard{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
  width: 450px;
  margin: auto;
  cursor: pointer;
}
.cell{
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.164);
  font-size: 6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell:hover{
  background-color: rgba(0, 0, 0, 0.089);
}
#reset-btn{
  align-self: flex-end;
  padding: 4px 8px;
  background-color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 6px black;
  color: black;
  font-size: 1.2rem;
  margin-top: 40px;
}
#reset-btn:hover{
background-color: rgba(255, 255, 255, 0.884);
}
